<div>
  <div class="row">
    <div class="col-md-4 justify-content-center mb-5">
      <img class="image-round"<%= image_tag @user.img.to_s %>
    </div>
    <div class="col-md-4">
      <p><%= @user.name %></p>
      <p><%= render 'follow_users/follow_button', user: @user %></p>
    </div>
    <div class="container-fluid">
      <ul class="nav nav-tabs nav-fill justify-content-center mb-3">
        <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">posts  <span class="badge badge-secondary"><%= @count_posts %></span></a></li>
        <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">Followings  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
        <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">Followers  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
      </ul>
      <%= render 'users/users', users: @followers %>
    </div>
  </div>
</div>